<markdown ngPreserveWhitespaces>
# Description
I'm learning GO. After reading the first 5 chapters of Donovan & Kernighan's excellent and highly recommended `The Go Programming Language` I decided to switch tack to a more hand's approach with the objective to learn GO's test capabilities and integrate GO with Angular using the back end for front end, BFF, pattern.

I decided to write the software in Kent Beck's [Test-Driven Development By Example](https://www.eecs.yorku.ca/course_archive/2003-04/W/3311/sectionM/case_studies/money/KentBeck_TDD_byexample.pdf) in GO, enabling me to learn [Golang test framework](https://golang.org/pkg/testing/) while translating a classical testing text to GO.

I'll show the examples’ output using the [Angular application framework](https://angular.io/) connected to a [simple Golang web server](https://github.com/enricofoltran/simple-go-server) server acting as our Back End for a Front End, BFF.

This repository captures the software I'm writing in this learning journey.

### Source code
- [Angular application framework](https://angular.io/);
- [BFF](https://github.com/enricofoltran/simple-go-server);
- [Golang test framework](https://golang.org/pkg/testing/);
- [Test-Driven Development By Example](https://www.eecs.yorku.ca/course_archive/2003-04/W/3311/sectionM/case_studies/money/KentBeck_TDD_byexample.pdf) - Kent Beck, Three Rivers Institute;
- This application's [Github repository](https://github.com/RodrigoMattosoSilveira/TestDrivenDevelopmentWithGolang);

````html
_    _                   _____
| | | | __ ___   _____  |  ___|   _ _ __
| |_| |/ _` \ \ / / _ \ | |_ | | | | '_ \
|  _  | (_| |\ V /  __/ |  _|| |_| | | | |
|_| |_|\__,_| \_/ \___| |_|   \__,_|_| |_|
````
</markdown>
