<markdown ngPreserveWhitespaces>
# Description
My objective is to write the examples in Kent Beck Test-Driven Development By Example using Golang; I want learn how to use the Golang test framework. The examples’ output will be shown by an Angular application connected to a Golang web server; I want to learn Golang testing framework and its networking capabilities; longer therm grow this web server into a Golang Back End for a Front End, BFF.

### Source code
- [Test-Driven Development By Example](https://www.eecs.yorku.ca/course_archive/2003-04/W/3311/sectionM/case_studies/money/KentBeck_TDD_byexample.pdf) - Kent Beck, Three Rivers Institute
- This application's [Github repository](https://github.com/RodrigoMattosoSilveira/TestDrivenDevelopmentWithGolang);

````html
_    _                   _____
| | | | __ ___   _____  |  ___|   _ _ __
| |_| |/ _` \ \ / / _ \ | |_ | | | | '_ \
|  _  | (_| |\ V /  __/ |  _|| |_| | | | |
|_| |_|\__,_| \_/ \___| |_|   \__,_|_| |_|
````
</markdown>
